<a href="https://colab.research.google.com/github/filnels/Homeworks/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [ ]:
data.groupby('sex')['sex'].count()

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [ ]:
data_female=data[data['sex'] == 'Female'] # фільтруєм данні, тільки жінки
average_age = round(data_female['age'].mean())
print('середній вік жінок: ', average_age)

середній вік жінок:  37

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [ ]:
Germany_country = data[data['native-country'] == 'Germany']
Total = data.shape[0]
count_Germany = Germany_country.shape[0]
percent_Germany = round((count_Germany/Total)*100, 2)
print('доля громадян Німеччини:', percent_Germany, '%')

доля громадян Німеччини: 0.42 %

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [ ]:
rich_people = data[data['salary'] == '>50K']
poor_people = data[data['salary'] == '<=50K']
age_statistic_rich_people=round(rich_people['age'].agg(['mean', 'std']),2)
age_statistic_poor_people=round(poor_people['age'].agg(['mean', 'std']),2)
print('средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік:',age_statistic_rich_people)
print('средні значення та средньоквадратичні відхилення віку тих, хто отримує менше 50K на рік:',age_statistic_poor_people)

средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік: mean    44.25
std     10.52
Name: age, dtype: float64
средні значення та средньоквадратичні відхилення віку тих, хто отримує менше 50K на рік: mean    36.78
std     14.02
Name: age, dtype: float64

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
# Визначаємо категорії для вищої освіти
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
# проверка
education_check = rich_people['education'].isin(higher_education).all()

if education_check:
    print("Так, всі люди, які отримують більше 50k, мають як мінімум вищу освіту.")
else:
    print("Ні, не всі люди, які отримують більше 50k, мають вищу освіту.")

Ні, не всі люди, які отримують більше 50k, мають вищу освіту.

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [ ]:
# статистика віку для кожної раси та статі
age_st = data.groupby(['race', 'sex'])['age'].describe()

print(age_st)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [ ]:
race_Eskimo = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]

# Знаходження максимального віку
max_age_Eskimo = race_Eskimo['age'].max()

print('Максимальний вік чоловіків раси Amer-Indian-Eskimo:', max_age_Eskimo)

Максимальний вік чоловіків раси Amer-Indian-Eskimo: 82

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [ ]:
# Список для одружених і неодружених
marital_status = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
unmarital_status = ['Divorced', 'Never-married', 'Separated', 'Widowed']

# Фільтрація багатих чоловіків
male_rich = rich_people[rich_people['sex'] == 'Male']

# Загальна кількість багатих чоловіків
Total_rich_male = male_rich.shape[0]

# Підрахунок багатих одружених чоловіків
rich_male_marital = male_rich[male_rich['marital-status'].isin(marital_status)].shape[0]

# Підрахунок багатих неодружених чоловіків
rich_male_unmarital = male_rich[male_rich['marital-status'].isin(unmarital_status)].shape[0]

percent_rich_marital = round((rich_male_marital / Total_rich_male) * 100,2)
percent_rich_unmarital = round((rich_male_unmarital / Total_rich_male) * 100,2)

# Порівняння кількості багатих одружених і неодружених чоловіків
if percent_rich_marital > percent_rich_unmarital:
    print('Серед одружених чоловіків більша доля багатіших')
    print('Доля багатих одружених:', percent_rich_marital, '%')
else:
    print('Серед неодружених чоловіків більша доля багатіших')
print('Доля багатих неодружених:', percent_rich_unmarital, '%')

Серед одружених чоловіків більша доля багатіших
Доля багатих одружених: 89.54 %
Доля багатих неодружених: 10.46 %

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [ ]:
count = data['hours-per-week'].max()  # Находим максимальное значение в столбце 'hours-per-week'
people_max_hours = data[data['hours-per-week'] == count]  # Фильтруем по максимальному значению
count_max_hours = people_max_hours.shape[0]
rich_people = people_max_hours[people_max_hours['salary'] == '>50K']
count_rich_people = rich_people.shape[0]
percent_rich = round((count_rich_people / count_max_hours) * 100, 2)
print('максимальное количество часов в неделю працює людина:', count)
print('колличество людей, которые работают максимальное количество часов в неделю:', count_max_hours)
print('який відсоток серед тих людей, що працюэ максим. годин - багатих:', percent_rich)

максимальное количество часов в неделю працює людина: 99
колличество людей, которые работают максимальное количество часов в неделю: 85
який відсоток серед тих, що працюэ максим. годин - багатих: 29.41

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [ ]:
# Удаляем строки, где 'native-country' содержит '?'
rich_people_clean = rich_people[rich_people['native-country'] != '?']
poor_people_clean = poor_people[poor_people['native-country'] != '?']
country_hours_week_rich = round(rich_people_clean.groupby(['native-country'])['hours-per-week'].mean(),2)
country_hours_week_poor = round(poor_people_clean.groupby(['native-country'])['hours-per-week'].mean(),2)
print('середня тривалість роботи на тиждень (hours-per-week) серед багатих для кожної країни:\n ', country_hours_week_rich)

print('середня тривалість роботи на тиждень (hours-per-week) серед бідних для кожної країни:\n ', country_hours_week_poor)

середню тривалість роботи на тиждень (hours-per-week) серед багатих для кожної країни:
  native-country
Cambodia              40.00
Canada                45.64
China                 38.90
Columbia              50.00
Cuba                  42.44
Dominican-Republic    47.00
Ecuador               48.75
El-Salvador           45.00
England               44.53
France                50.75
Germany               44.98
Greece                50.62
Guatemala             36.67
Haiti                 42.75
Honduras              60.00
Hong                  45.00
Hungary               50.00
India                 46.48
Iran                  47.50
Ireland               48.00
Italy                 45.40
Jamaica               41.10
Japan                 47.96
Laos                  40.00
Mexico                46.58
Nicaragua             37.50
Peru                  40.00
Philippines           43.03
Poland                39.00
Portugal              41.50
Puerto-Rico           39.42
Scotland              46.67
South                 51.44
Taiwan                46.80
Thailand              58.33
Trinadad&Tobago       40.00
United-States         45.51
Vietnam               39.20
Yugoslavia            49.50
Name: hours-per-week, dtype: float64
середню тривалість роботи на тиждень (hours-per-week) серед бідних для кожної країни:
  native-country
Cambodia                      41.42
Canada                        37.91
China                         37.38
Columbia                      38.68
Cuba                          37.99
Dominican-Republic            42.34
Ecuador                       38.04
El-Salvador                   36.03
England                       40.48
France                        41.06
Germany                       39.14
Greece                        41.81
Guatemala                     39.36
Haiti                         36.33
Holand-Netherlands            40.00
Honduras                      34.33
Hong                          39.14
Hungary                       31.30
India                         38.23
Iran                          41.44
Ireland                       40.95
Italy                         39.62
Jamaica                       38.24
Japan                         41.00
Laos                          40.38
Mexico                        40.00
Nicaragua                     36.09
Outlying-US(Guam-USVI-etc)    41.86
Peru                          35.07
Philippines                   38.07
Poland                        38.17
Portugal                      41.94
Puerto-Rico                   38.47
Scotland                      39.44
South                         40.16
Taiwan                        33.77
Thailand                      42.87
Trinadad&Tobago               37.06
United-States                 38.80
Vietnam                       37.19
Yugoslavia                    41.60
Name: hours-per-week, dtype: float64